body {
  background: #ffcc00;
}

.car {
  display: flex;
}

.car > div {
  flex: 1;
  background: #00a499;
  transition: all 0.5s;
}

.car > div:hover {
  background: #007169;
}

.car > div.zoom {
  font-size: 30px;
}

